%p#notice= notice
%h1= @project.name
%h3= @project.description

%p This project's id for your api is #{@project.id.to_s}
%table.table.table-bordered
  %tr
    %th index #
    %th Name
    %th

  - @sensors.each do |sensor|
    %tr
      %td= sensor.project_index
      %td= sensor.name
      %td= "#{sensor.sensor_readings.count} readings"
      %td= link_to 'Edit', edit_project_sensor_path(@project, sensor)
      %td= link_to 'Delete', project_sensor_path(@project, sensor), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

%h3
  Sample Post
%p= @curl_post_sample
%h3
  Sample Query
%p= @curl_query_sample

= link_to 'New Sensor', new_project_sensor_path(@project.id)

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
